@import 'variables.scss';
.app-header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

h1,
h2,
a,
label,
.tab,
    {
    color: $theme-color-primary;
    @extend %text-style;
}

.text {
    color: $text-color;
    @extend %text-style;
}

.form {
    padding: 10px;
}

.content {
    background-color: #F7F7F7;
    margin: 0 auto;
    max-width: 980px;
}

.row {
    content: "";
    clear: both;
    display: block;
    margin: 5px 0;
}

.content-box {
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    margin: 20px auto;
    padding: 20px;
}

.btn-prim {
    @extend %text-style;
    background-color: #A4D052;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 16px;
    text-align: center;
    border: 1px solid #A4D052;
    border-radius: 6px;
    padding: 10px;
    text-decoration: none;
    &:hover {
        background-color: #45a049;
    }
}

.data-title {
    font-weight: bold;
}

// employees 
.tabs {
    height: 27px;
    border-bottom: 1px solid lightgray;
    .tab {
        background-color: lightgrey;
        cursor: pointer;
        padding: 8px;
        margin-right: 8px;
        &.active {
            border-bottom: 2px solid $theme-color-primary;
        }
    }
}

.form {
    * {
        box-sizing: border-box;
    }
    input[type=text],
    input[type=date],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    input[type=date] {
        &:after {
            height: 40px;
        }
    }
    input[type=submit] {
        background-color: #A4D052;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.6);
        color: white;
        @extend %text-style;
        font-size: 14px;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        margin: 20px auto;
        &:hover {
            background-color: #45a049;
        }
    }
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .noedit-data {
        padding: 0 10px;
        position: relative;
        top: 10px;
    }
    input[disabled] {
        background-color: lightgrey;
        pointer-events: none;
    }
}

.error-msg {
    color: red;
    font-size: 12px;
    margin: 4px 0;
}